a {
    font-size: 45px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.panel-question {
    height: 10px;
    display: table-cell;
    vertical-align: middle;
}

.maiDiv {
    margin-top: 5%;
    margin-bottom: 5%
}

.right {
    float: right;
    right: 0px;
    width: 300px;
    padding: 10px;
  }